<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MiConexionBD"
         connectionString="DataBase=Servicio; Server=LAPTOP-17Q200N8;Integrated Security=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>